# Dependencies
node_modules/

# Next.js
.next/

# Production
build/
dist/

# Env files
.env

# Database
*.db
*.db-journal
db/

# Logs
*.log

# IDE
.idea/
.vscode/

# System
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts
