# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/
dist/

# Env files
.env
.env.local
.env*.local

# Database
*.db
*.db-journal
prisma/dev.db

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# System
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Cloudflare
.wrangler/
.dev.vars
.mf/

# Vercel
.vercel/

# Test
coverage/
